body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;

    background-color: grey;
}
header {
    height: 36px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    border: 1px solid black;
    position: fixed;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    width: 100%;
    background-color: rgb(37, 37, 37);
    z-index: 4;
    margin-bottom: 300px;
}
section {
    margin-top: 0px;
}
ul.color {
    background-color: rgb(37, 37, 37);
}
li.alterado {
    font-family: 'Sixtyfour', sans-serif;
    display: inline-block;
    padding: 10px;
    margin: 0px;
    max-width: 670px;
    margin-top: 0px;
    background-color: rgb(37, 37, 37);
    border-left: 1px solid black;
    border-right: 1px solid black;
    z-index: 3;
    height: 36;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    display: inline-block;
    width: 1200px;
    margin-bottom: 0px;
    border-left: none;
    height: 38px;
}
div.special {
    background-color: gray;
    display: inline-block;
    height: 36px;
    width: 670px;
}
/* div que contiene la barra del menu*/
li.menu {
    background-color: red;
    padding: 10px;
}
/* color rojo para boton menu */
h1,h2 {
    font-family: 'Sixtyfour', sans-serif;
}
h2.elon {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    bottom: 240px;
    left: 10px;
}
/* elon es ajuste del nombre de elon */
img.ser {
    position: relative;
    right: 2px;
    bottom: 2px;
}
/* ser es ajuste de imagen de elon */
p {
    font-family: 'Workbench', sans-serif;
}
p.box1 {
    width: 48%;
    background-color: rgb(0, 110, 255);
    display: inline-block;
    padding: 10px;
    height: 250px;
    width: 250px;
    margin-left: 20px;
    margin-top: 2px;
}
/* box1 es la caja azul detras de la imagen de elon */
p.box2 {
    padding: 0px;
    display: inline-block;
    margin: 0px;
    position: relative;
    right: 210px;
    bottom: 110px;
}
/* box2 es la caja de la descripcion de elon */
ul.alr {
    font-family: 'Workbench';
    display: inline-block;
    background-color: grey;
    padding: 10px;
    margin: 0px;
    margin-top: 0px;
    padding-left: 20px;
    list-style-type: none;
    width: 150px;
    height: 100px;
    position: relative;
    left: 350px;
    bottom: 110px;
}
/* alr son los ajustes de la parte de categoria */
li.ocr {
    height: 24px;
    font-size: 30px;
    padding: 10px;
}
/* ocr tambien son los ajustes de la parte de categoria*/
iframe.elon2 {
    width: 370px;
    height: 250px;
    position: relative;
    left: 30px;
}
/* elon2 son los ajustes del iframe de cibertruck tesla */
.arm {
    width: 400px;
    height: 400px;
    display: inline-block;
}
/* arm es ajuste de los 3 divs, el del iframe de cibertruck , el de las imagenes y el de la lista de referencia */
div.a4 {
    position: relative;
    bottom: 0px;
    height: 270px;
    width: 270px;
    left: 20px;
}
/* a4 es ajuste de las imagenes y referencia */
li.ocr2 {
    height: 24px;
    font-size: 30px;
    padding: 10px;
}
/* ocr2 es ajuste de las listas de referencia*/
ul.alr2 {
    font-family: 'Workbench';
    display: inline-block;
    background-color: grey;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    list-style-type: none;
    width: 270px;
    height: 270px;
    position: relative;
    left: 50px;
    bottom: 90px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
/* alr2 es ajuste de las listas de referencia tambien */
div.a5 {
    bottom: 0px;
}
/* a5 es ajuste de las 4 imagenes y la lista de referencia */
div.a6 {
    margin-right: 125px;
}
/* a6 es ajuste de la lista de referencia */
div.footer {
    background-color: rgb(37, 37, 37);
    height: 60px;
    text-align: center;
    position: relative;
}
/* ajusta el footer*/
p.footercontent {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 5px;
}
/* ajusta el parrafo del footer*/
h1,h2,b {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: dashed;
}
/*subrayado rojo*/
.formulario {
    display: inline-block;
    padding: 7px;
}
/* ajusta el formulario*/
li.alterado2 {
    font-family: 'Sixtyfour', sans-serif;
    display: inline-block;
    margin: 0px;
    max-width: 670px;
    margin-top: 0px;
    background-color: rgb(37, 37, 37);
    border-left: 1px solid black;
    border-right: 1px solid black;
    z-index: 3;
    height: 36;
    padding: 0px;
}
/*alterado 2 ajusta el imput */